img {
    height: 450px;
    width: 450px;
    margin-bottom: 25px;
}

p {
    text-align: justify;
}
.head{
    display: flex;
    flex-wrap: wrap;
}
.list1{
    width: 45%;
    padding: 20px;
    margin:20px;
}
